@media all and (max-width: 1930px) {
}
/* ================================================== */

@media all and (max-width: 1681px) {
  .solitaire-content-box {
    padding: 40px 162px 40px 45px;
  }
  .solitaire-num {
    width: 70px;
  }
}

/* ================================================== */

@media all and (max-width: 1600px) {
}
/* ================================================== */

@media all and (max-width: 1440px) {
}
/* ================================================== */

@media all and (max-width: 1400px) {
}
/* ================================================== */

@media all and (max-width: 1366px) {
  .draw-card {
    padding: clamp(36px, 4.17vw, 72px);
  }
}
/* ================================================== */

@media all and (max-width: 1280px) {
}
/* ================================================== */

@media all and (max-width: 1280px) and (max-height: 720px) {
}
@media all and (max-width: 1280px) and (max-height: 665px) {
}
@media all and (max-width: 1280px) and (max-height: 585px) {
}
/* ================================================== */

@media all and (max-width: 1200px) {
  .solitaire-content-box {
    padding: 40px 122px 40px 45px;
  }
  .solitaire-num {
    width: 62px;
  }
  .draw_content-date {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
}
/* ================================================== */

@media all and (max-width: 1153px) {
}
/* ================================================== */

@media all and (max-width: 1120px) {
  .solitaire-content-box {
    padding: 20px 82px 20px 24px;
  }
  .draw-feature {
    gap: 20px;
  }
  .swiper-nav-buttons {
    width: calc(100% - 30px);
  }
}
@media all and (max-width: 1100px) and (orientation: portrait) {
}
/* ================================================== */

@media all and (max-width: 1024px) {
  .solitaire-content-box {
    gap: 12px;
  }
}
@media all and (max-width: 1024px) and (orientation: portrait) {
}
/* ================================================== */

@media all and (max-width: 990px) {
}

@media all and (max-width: 1024px) and (orientation: portrait) {
}
/* ================================================== */
@media all and (max-width: 940px) {
}

@media all and (max-width: 890px) {
}
@media all and (max-width: 800px) {
  .solitaire-num {
    width: 42px;
  }
  .solitaire-content-box {
    padding: 20px 70px 20px 24px;
  }
  .social_media {
    gap: 0px;
  }
}
/* ================================================== */

@media all and (max-width: 768px) {
  .solitaire-content-box {
    padding: clamp(30px, 3.98vw, 70px) clamp(82px, 17.13vw, 172px)
      clamp(28px, 3.31vw, 48px) clamp(30px, 3.98vw, 70px);
    gap: 24px;
  }
}
/* ================================================== */

@media all and (max-width: 641px) {
  .swiper-nav-buttons {
    width: 185px;
    position: relative;
  }
}
/* ================================================== */

@media all and (max-width: 576px) {
}

/* ================================================== */

@media all and (max-width: 480px) {
  .solitaire-card {
    position: relative;
    top: 0;
    margin-bottom: var(--space100);
  }

  .solitaire-card:last-child {
    margin-bottom: 0;
  }

  .solitaire-frame {
    max-width: 300px;
    width: 100%;
    margin-inline: auto;
  }

  .solitaire-content-box {
    padding: 24px;
    gap: 24px;
    height: auto;
    border-radius: 0;
    top: auto;
    bottom: 0;
  }
}
/* ================================================== */

@media all and (max-width: 440px) {
  .button {
    padding: 12px 14px;
  }
}
/* ================================================== */

@media all and (max-width: 400px) {
}
/* ================================================== */

@media all and (max-width: 380px) {
}
/* ================================================== */

@media all and (max-width: 360px) {
}
/* ================================================== */
