.bg-vid-section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #093247;

  video {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 9/16;
    background-blend-mode: multiply;
    mix-blend-mode: screen;
    z-index: 2;
  }
}

.bg-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #75a0aa;
}

.bg-overlay-2 {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, #093247 0%, rgba(9, 50, 71, 0) 100%);
}

.ele-1,
.ele-2 {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 578px;
  height: 385px;
  aspect-ratio: 575/383;

  img {
    width: 100%;
    height: 100%;
  }
}
.ele-1 {
  left: 0;
}
.ele-2 {
  right: 0;
}

.screen_1Grp {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top_sec {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-inline: auto;
}

.logo-1 {
  width: 100%;
}

.login-card {
  max-width: 600px;
  width: 100%;
  border-radius: 16px;
  background: #154d61;
  overflow: hidden;
}

.cards_draw {
  width: 520px;
  border-radius: 16px;
  background: #154d61;
  overflow: hidden;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-Head {
  color: #fff;
  font-family: "Rushter Glory";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
  background: linear-gradient(180deg, #82d2e6 -26.11%, #2e8fa7 100%);
  padding: var(--space32);

  h2 {
    font-size: var(--fs-32);
  }
  h1 {
    font-size: var(--fs-40);
  }
}

.form_loginSec {
  width: 100%;
  padding: var(--space32);

  h3 {
    text-align: center;
    color: #fff;
    font-family: "Rushter Glory";
    font-size: var(--fs-30);
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: var(--space32);
  }
}

.pass_input {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid #7da3b6;
  max-width: 391px;
  width: 100%;
  margin: auto;
  background: transparent;
  color: #7da3b6;
  &::placeholder {
    color: #7da3b6;
  }
}

.button_scr {
  color: #093247;
  text-align: center;
  font-family: "Rushter Glory";
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    #e9c288 3.37%,
    #f7d6a4 49.04%,
    #dda658 100%
  );
  display: flex;
  max-width: 391px;
  width: 100%;
  height: 60px;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
  border: none;
  margin-top: 24px;
}

.card-Head .date {
  color: #fff;
  font-family: "Rushter Glory";
  font-size: var(--fs-24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.card-Head .drawHead {
  color: #f1d990;
  font-family: "Rushter Glory";
  font-size: var(--fs-48);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 16px;
}

.coupon-Code_No {
  width: 100%;
  padding: var(--space32);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-draw {
  width: 24px;
}

.winnwe {
  text-align: center;
  font-family: "Rushter Glory";
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
  background: linear-gradient(90deg, #b4894a 0%, #f9cb85 52.88%, #b68230 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 12px;
}
.code {
  text-align: center;
  font-family: "Rushter Glory";
  font-size: var(--fs-30);
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  background: linear-gradient(90deg, #b4894a 0%, #f9cb85 52.88%, #b68230 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.coupon_code {
  margin-top: 14px;
  background: url(../img/code_frame_bg.svg);
  width: 356.181px;
  height: 141px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-family: "Rushter Glory";
  font-size: var(--fs-48);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding-bottom: 25px;
}

.cards_frame {
  display: flex;
  gap: 36px;
}

.price_sec {
  width: 800px;
  border-radius: 16px;
  background: rgba(21, 77, 97, 0.3);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px;
}
.awd_itm {
  width: 479px;
  height: 362px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.heading_sec {
  color: #fff;
  font-family: "Rushter Glory";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
  margin-top: 18px;

  h2 {
    font-size: var(--fs-36);
    margin-bottom: 18px;
  }
  h3 {
    font-size: var(--fs-24);
  }
}

.sliderSection {
  width: 1330px;
}

.price_frame {
  display: flex;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;

  .cards_draw,
  .price_sec {
    width: 50%;
    border-radius: 0px;
  }

  .price_sec {
    background: linear-gradient(
      180deg,
      #b4894a 0%,
      #e1c08e 50.85%,
      #bfa072 94.23%
    );
  }

  .heading_sec {
    color: #fff;
    font-family: "Rushter Glory";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    margin-top: 18px;

    h2 {
      font-size: var(--fs-48);
      margin-bottom: 18px;
    }
  }
}

.coupon_name {
  background: url(../img/code_frame_bg.svg) no-repeat;
  background-size: contain;
  width: 407px;
  height: 161px;
  display: flex;
  align-items: center;
  flex-direction: column;

  color: #fff;
  font-family: "Rushter Glory";
  font-size: var(--fs-48);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;

  .icon-draw {
    height: 33px;
  }
}

.win_coupon_code {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.win-text {
  color: #e3f2ef;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-18);
  font-style: normal;
  font-weight: 400;
  margin-bottom: 12px;
}

.code_Number {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 42.449px;
  border: 0.943px solid #cf9e50;
  background: #102d37;

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-22);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3.396px;
  line-height: normal;
  padding: 5px 8px;

  .icon-draw {
    height: 22px;
    width: 22px;
    object-fit: contain;
  }
}

.store_name {
  color: #fff;
  font-family: "Rushter Glory";
  font-size: var(--fs-36);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.swiper-navigation-icon {
  display: none;
}

.navigation-slider {
  width: 530px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: auto;

  .swiper-pagination-bullet-active {
    background: rgba(255, 255, 255, 1);
  }

  .swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.9);
  }
}
.screen_1Grp {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.45);

    i {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      aspect-ratio: 1/1;
    }
  }

  .swiper-button-prev {
    transform: rotate(180deg);
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 15px !important;
    width: calc(100% - 120px);
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-pagination-bullet {
    width: 60px;
    border-radius: 2px;
    height: 3px;
  }
}
