:root {
  --white: #fff;
  --black: #000;

  --container-padding: 15px;

  --fs-110: clamp(45px, 5vw, 110px);
  --fs-100: clamp(45px, 5vw, 100px);
  --fs-90: clamp(42px, 4.5vw, 90px);
  --fs-80: clamp(40px, 4vw, 80px);
  --fs-70: clamp(36px, 3.5vw, 70px);
  --fs-62: clamp(34px, 3.2vw, 62px);
  --fs-60: clamp(34px, 3vw, 60px);
  --fs-54: clamp(32px, 2.7vw, 54px);
  --fs-50: clamp(30px, 2.5vw, 50px);
  --fs-48: clamp(28px, 2.3vw, 48px);
  --fs-40: clamp(24px, 2vw, 40px);

  /* ===== MEDIUM ===== */
  --fs-36: clamp(22px, 1.8vw, 36px);
  --fs-32: clamp(20px, 1.6vw, 32px);
  --fs-30: clamp(20px, 1.5vw, 30px);
  --fs-28: clamp(18px, 1.4vw, 28px);
  --fs-24: clamp(18px, 1.2vw, 24px);
  --fs-22: clamp(16px, 1.1vw, 22px);
  --fs-21: clamp(16px, 1.05vw, 21px);
  /* ===== SMALL ===== */
  --fs-20: clamp(15px, 1vw, 20px);
  --fs-18: clamp(14px, 0.9vw, 18px);
  --fs-16: clamp(14px, 0.85vw, 16px);
  --fs-14: 14px;
  --fs-12: 12px;

  /* Fluid spacing */
  --space200: clamp(96px, 10vw, 200px); /* 96px → 200px */
  --space175: clamp(84px, 8.75vw, 175px); /* 84px → 175px */
  --space140: clamp(75px, 7vw, 140px); /* 50px → 140px */
  --head100: clamp(78px, 5vw, 100px); /* 84px → 100px */
  --space100: clamp(50px, 5vw, 100px); /* 50px → 100px */
  --space82: clamp(32px, 5vw, 82px); /* 32px → 82px */

  /* Medium spacing */
  --space72: clamp(24px, 6vw, 72px); /* 24px → 72px */
  --space60: clamp(24px, 5vw, 60px); /* 24px → 60px */

  /* Small spacing */
  --space40: clamp(24px, 3vw, 40px); /* 24px → 40px */
  --space32: clamp(24px, 2vw, 32px); /* 24px → 32px */

  --pd24: clamp(16px, 1.5vw, 24px);
}

/* ================ */
